* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #474747;
  font-size: 20px;
}

h2 {
  font-size: 2.96rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
}
